/* Custom Scrollbar */
::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border: 1px solid #F5F5F5;
}

/** Fonts  
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
**/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
$Montserrat: 'Montserrat',
sans-serif;
$Nunito: 'Nunito Sans',
sans-serif;

/* Colors */
$white: #fff;
$sapphire: #052246;
$space: #3F454D;
$saffron: #FFC72C;
$smoky_white: #F0F5F6;

$light: #F0F5F6;
$lighter: #F4F8F9;
$gray: #676B71;


/* Fonts Sizes */
$font_md: 18px;

/* General */
body {
  font-family: $Nunito;
  background: $white;
  line-height: 1.65;
}

/* Buttons */
.as-btn-warning {
  font-weight: bold;
  font-size: $font_md;
  padding: .42rem 1.4rem;
}

/* Bootstrap General Customizations */

.bg-primary {
  background-color: $sapphire !important;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $Montserrat;
  line-height: 1.2;
  color: $sapphire;
}

h1,
h2 {
  font-size: 64px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h3 {
  font-weight: bold;
  font-size: 48px;
}

h4 {
  font-weight: bold;
  font-size: 36px;
}

/* Over Headers */

.overhead {
  font-family: $Montserrat;
  font-weight: bold;
  line-height: .8;
}

.overhead-light {
  color: $light;
}

.overhead-lighter {
  color: $lighter;
}

.overhead-lg {
  font-size: 14vw;
}

/* Index */
.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

/* Indents */

.py-120 {
  padding: 120px 0px;
}

.px-120 {
  padding: 0px 120px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.px-60 {
  padding: 60px 0px;
}

.py-60 {
  padding: 0px 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

/* AS Navbar */
.as-navbar {
  color: $white;
  font-size: $font_md;
  padding: 1.3rem 2.6rem;
}

.as-navbar .navbar-brand {
  max-width: 195px;
  padding: 0;
  transform: translate(0px, -1px);
}

.as-navbar .navbar-brand img {
  width: 100%;
}

.as-navbar .navbar-nav {
  margin-right: 1.12rem !important;
}

.as-navbar .navbar-collapse {
  margin-top: .1rem;
}

.as-navbar .nav-link {
  color: inherit !important;
  font-size: inherit;
  padding-right: 1.12rem !important;
  padding-left: 1.12rem !important;
  transition: .3s;
}

.as-navbar .nav-link:hover {
  color: $saffron !important;
}

.as-navbar .dropdown-toggle::after {
  display: inline-block;
  margin-left: .5em;
  vertical-align: middle;
  content: "";
  margin-top: -.3em;
  width: .47em;
  height: .47em;
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
}

/* AS Cover */
#cover {
  position: relative;
  overflow: hidden;
  height: 50vw;
  width: 100%;
  margin-top: 88px;
}

.as-background-color {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.as-background,
.as-backgrond-video {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.as-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.as-backgrond-video {
  -o-object-fit: cover;
  object-fit: cover;
}

/* AS Section */

.as-section {
  overflow: hidden;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
}

.as-head.type-1 .overhead {
  margin-bottom: -70px;
}

.as-content.type-1 {}

.as-rectangle {
    position: relative;
    background: $saffron;
    height: 100%;
}

.as-rectangle.right {
  left: -57%;
  width: calc((100% + 57%) + 2.6rem);
}

.as-rectangle .content {
  height: 100%;
  width: 100%;
  color: $gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.as-rectangle.right .content .title {
  letter-spacing: 18px;
  transform: rotate(90deg);
  transform-origin: center;
  text-align: center;
  padding-left: 18px;
  margin: 0px -14% 0px 0px;
}

/* AS Carousel */

.as-carousel.type-1 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.as-carousel.type-1 .item {
  // padding: 0 15px;
}

.as-carousel.type-1 .owl-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.as-carousel.type-1 .owl-prev {
  background-image: url(../images/owl-nav-left.svg) !important;
  left: -32px;
}

.as-carousel.type-1 .owl-next {
  background-image: url(../images/owl-nav-right.svg) !important;
  right: -32px;
}

.as-carousel.type-1 .owl-prev,
.as-carousel.type-1 .owl-next {
  position: relative;
  width: 54px;
  height: 54px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  outline: none !important;
  background-color: #0000 !important;
  transition: .3s;
}

.as-carousel.type-1 .owl-prev:hover ,
.as-carousel.type-1 .owl-next:hover {
  transform: scale(1.2);
}

.as-carousel.type-1 .owl-prev span,
.as-carousel.type-1 .owl-next span {
  display: none;
}

/* AS Masonry */
.as-masonry {
  display: flex;
  width: calc(100% + 25px);
  margin-left: -12.5px;
  padding-top: 60px;
  padding-bottom: 70px;
}

.as-masonry-item {
  background: #333;
  margin: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.as-masonry-item.w-type-1 { width: calc(38.340192% - 25px); }
.as-masonry-item.w-type-2 { width: calc(27.5720165% - 25px); }
.as-masonry-item.w-type-3 { width: calc(34.0877915% - 25px); }

.as-masonry-item.h-type-1:before { 
  content: "";
  padding-top: 50%; 
}
.as-masonry-item.h-type-2:before { 
  content: "";
  padding-top: 50%; 
}

.as-masonry-item .title {
  color: $white;
  text-transform: uppercase;
  text-align: center;
}

/* Helpers */

.typography-helper-1 {
  margin-left: -5px;
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1440px) {}
